html, body {
  height: 100%; }

body {
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

hr.hr-gray {
  border-top-color: #434343; }

#header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 1000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13); }
#header .h3, #header .h4, #header .h5 {
  line-height: 50px; }
#header .logo {
  max-height: 40px; }

#main {
  padding-top: 50px;
  min-height: 100%; }

#kv {
  background-position: center 0;
  overflow: hidden; }

.kv-lg {
  height: 518px; }
.kv-lg .container {
  height: 100%; }
.kv-lg .container .row {
  height: 100%; }
.kv-lg .container p {
  font-size: 14px; }
.kv-lg .container .logo-white {
  max-width: 80%; }

.kv-sm {
  height: 210px; }

.kv-index {
  background-image: url("../img/mobile/kv-index.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .kv-index {
    background-image: url("../img/mobile/kv-index@2x.jpg");
    -moz-background-size: 100%, 100%;
    -o-background-size: 100%, 100%;
    -webkit-background-size: 100%, 100%;
    background-size: 100%, 100%; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .kv-index {
    background-image: url("../img/mobile/kv-index@3x.jpg");
    -moz-background-size: 100%, 100%;
    -o-background-size: 100%, 100%;
    -webkit-background-size: 100%, 100%;
    background-size: 100%, 100%; } }

.kv-brands {
  background-image: url("../img/mobile/kv-brands.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .kv-brands {
    background-image: url("../img/mobile/kv-brands@2x.jpg");
    -moz-background-size: 100%, 100%;
    -o-background-size: 100%, 100%;
    -webkit-background-size: 100%, 100%;
    background-size: 100%, 100%; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .kv-brands {
    background-image: url("../img/mobile/kv-brands@3x.jpg");
    -moz-background-size: 100%, 100%;
    -o-background-size: 100%, 100%;
    -webkit-background-size: 100%, 100%;
    background-size: 100%, 100%; } }

.kv-sitemap {
  background-image: url("../img/mobile/kv-sitemap.jpg"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .kv-sitemap {
    background-image: url("../img/mobile/kv-sitemap@2x.jpg");
    -moz-background-size: 100%, 100%;
    -o-background-size: 100%, 100%;
    -webkit-background-size: 100%, 100%;
    background-size: 100%, 100%; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .kv-sitemap {
    background-image: url("../img/mobile/kv-sitemap@3x.jpg");
    -moz-background-size: 100%, 100%;
    -o-background-size: 100%, 100%;
    -webkit-background-size: 100%, 100%;
    background-size: 100%, 100%; } }

.pos-f-b {
  z-index: 100; }

.pushy .list-group .list-group-item {
  color: #fff;
  border: 1px solid #fb8547; }
.pushy .list-group .list-group-item:hover {
  background-color: #e65c00; }
.pushy .icon-arw-down {
  display: inline-block;
  width: 13px;
  height: 8px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAQCAMAAAA/D5+aAAAAFVBMVEX///////////////////////////9nSIHRAAAABnRSTlMAEGCPn79yDgNlAAAASklEQVR4AZ3JSwoAMRAC0XwS73/kCQ1FC+7GVeEbfzevtPxY0p1VTzDkWaWEtUgQhkAbc9lF42Atp8AtpC0FS8FCsJAwJA1Jc/kA/nQDseUO1FAAAAAASUVORK5CYII=);
  background-size: 13px 8px;
  background-position: center right;
  background-repeat: no-repeat; }

.nav-order {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #fff;
  table-layout: fixed;
  border-collapse: separate;
  border-top: 1px solid #f6f6f6;
  z-index: 999; }
.nav-order > .nav-item {
  float: none;
  display: table-cell;
  width: 1%;
  border-left: 1px solid #f6f6f6; }
.nav-order > .nav-item:first-child {
  border-left: none; }
.nav-order .nav-link {
  display: block;
  padding: 10px 0;
  text-align: center;
  border-left: 1px solid #4d4d4d; }
.nav-order .nav-link:first-child {
  border-left: none; }
.nav-order .nav-link:hover, .nav-order .nav-link:focus, .nav-order .nav-link.active {
  background-color: #f60;
  color: #fff; }
.nav-order .nav-link:hover .icon-cat-case, .nav-order .nav-link:focus .icon-cat-case, .nav-order .nav-link.active .icon-cat-case {
  background-image: url("../img/icon/icon-cat-case-white.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .nav-order .nav-link:hover .icon-cat-case, .nav-order .nav-link:focus .icon-cat-case, .nav-order .nav-link.active .icon-cat-case {
    background-image: url("../img/icon/icon-cat-case-white@2x.png");
    -moz-background-size: 46px, 27px;
    -o-background-size: 46px, 27px;
    -webkit-background-size: 46px, 27px;
    background-size: 46px, 27px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .nav-order .nav-link:hover .icon-cat-case, .nav-order .nav-link:focus .icon-cat-case, .nav-order .nav-link.active .icon-cat-case {
    background-image: url("../img/icon/icon-cat-case-white@3x.png");
    -moz-background-size: 46px, 27px;
    -o-background-size: 46px, 27px;
    -webkit-background-size: 46px, 27px;
    background-size: 46px, 27px; } }
.nav-order .nav-link:hover .icon-cat-airplane, .nav-order .nav-link:focus .icon-cat-airplane, .nav-order .nav-link.active .icon-cat-airplane {
  background-image: url("../img/icon/icon-cat-airplane-white.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .nav-order .nav-link:hover .icon-cat-airplane, .nav-order .nav-link:focus .icon-cat-airplane, .nav-order .nav-link.active .icon-cat-airplane {
    background-image: url("../img/icon/icon-cat-airplane-white@2x.png");
    -moz-background-size: 46px, 27px;
    -o-background-size: 46px, 27px;
    -webkit-background-size: 46px, 27px;
    background-size: 46px, 27px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .nav-order .nav-link:hover .icon-cat-airplane, .nav-order .nav-link:focus .icon-cat-airplane, .nav-order .nav-link.active .icon-cat-airplane {
    background-image: url("../img/icon/icon-cat-airplane-white@3x.png");
    -moz-background-size: 46px, 27px;
    -o-background-size: 46px, 27px;
    -webkit-background-size: 46px, 27px;
    background-size: 46px, 27px; } }
.nav-order .nav-link:hover .icon-cat-bus, .nav-order .nav-link:focus .icon-cat-bus, .nav-order .nav-link.active .icon-cat-bus {
  background-image: url("../img/icon/icon-cat-bus-white.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .nav-order .nav-link:hover .icon-cat-bus, .nav-order .nav-link:focus .icon-cat-bus, .nav-order .nav-link.active .icon-cat-bus {
    background-image: url("../img/icon/icon-cat-bus-white@2x.png");
    -moz-background-size: 46px, 27px;
    -o-background-size: 46px, 27px;
    -webkit-background-size: 46px, 27px;
    background-size: 46px, 27px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .nav-order .nav-link:hover .icon-cat-bus, .nav-order .nav-link:focus .icon-cat-bus, .nav-order .nav-link.active .icon-cat-bus {
    background-image: url("../img/icon/icon-cat-bus-white@3x.png");
    -moz-background-size: 46px, 27px;
    -o-background-size: 46px, 27px;
    -webkit-background-size: 46px, 27px;
    background-size: 46px, 27px; } }
.nav-order .nav-link:hover .icon-cat-car, .nav-order .nav-link:focus .icon-cat-car, .nav-order .nav-link.active .icon-cat-car {
  background-image: url("../img/icon/icon-cat-car-white.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .nav-order .nav-link:hover .icon-cat-car, .nav-order .nav-link:focus .icon-cat-car, .nav-order .nav-link.active .icon-cat-car {
    background-image: url("../img/icon/icon-cat-car-white@2x.png");
    -moz-background-size: 46px, 27px;
    -o-background-size: 46px, 27px;
    -webkit-background-size: 46px, 27px;
    background-size: 46px, 27px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .nav-order .nav-link:hover .icon-cat-car, .nav-order .nav-link:focus .icon-cat-car, .nav-order .nav-link.active .icon-cat-car {
    background-image: url("../img/icon/icon-cat-car-white@3x.png");
    -moz-background-size: 46px, 27px;
    -o-background-size: 46px, 27px;
    -webkit-background-size: 46px, 27px;
    background-size: 46px, 27px; } }
.nav-order [class^="icon-cat-"], .nav-order [class*="icon-cat-"] {
  width: 46px !important;
  height: 27px !important; }

.input-group .form-control {
  border-right: none; }
.input-group .input-group-addon {
  background-color: #eaeaea;
  border-left: none; }

::-webkit-input-placeholder {
  color: #333; }

:-moz-placeholder {
  color: #333; }

::-moz-placeholder {
  color: #333; }

:-ms-input-placeholder {
  color: #333; }

.icon-arw-left {
  width: 22px;
  height: 19px;
  background-image: url("../img/icon/icon-arw-left.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-arw-left {
    background-image: url("../img/icon/icon-arw-left@2x.png");
    -moz-background-size: 22px, 19px;
    -o-background-size: 22px, 19px;
    -webkit-background-size: 22px, 19px;
    background-size: 22px, 19px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-arw-left {
    background-image: url("../img/icon/icon-arw-left@3x.png");
    -moz-background-size: 22px, 19px;
    -o-background-size: 22px, 19px;
    -webkit-background-size: 22px, 19px;
    background-size: 22px, 19px; } }

[class^="icon-menu-"], [class*="icon-menu-"] {
  top: 0;
  width: 24px;
  height: 24px; }

.icon-menu-car {
  background-image: url("../img/icon/icon-menu-car.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-menu-car {
    background-image: url("../img/icon/icon-menu-car@2x.png");
    -moz-background-size: 24px, 24px;
    -o-background-size: 24px, 24px;
    -webkit-background-size: 24px, 24px;
    background-size: 24px, 24px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-menu-car {
    background-image: url("../img/icon/icon-menu-car@3x.png");
    -moz-background-size: 24px, 24px;
    -o-background-size: 24px, 24px;
    -webkit-background-size: 24px, 24px;
    background-size: 24px, 24px; } }

.icon-menu-gift {
  background-image: url("../img/icon/icon-menu-gift.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-menu-gift {
    background-image: url("../img/icon/icon-menu-gift@2x.png");
    -moz-background-size: 24px, 24px;
    -o-background-size: 24px, 24px;
    -webkit-background-size: 24px, 24px;
    background-size: 24px, 24px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-menu-gift {
    background-image: url("../img/icon/icon-menu-gift@3x.png");
    -moz-background-size: 24px, 24px;
    -o-background-size: 24px, 24px;
    -webkit-background-size: 24px, 24px;
    background-size: 24px, 24px; } }

.icon-menu-pen {
  background-image: url("../img/icon/icon-menu-pen.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-menu-pen {
    background-image: url("../img/icon/icon-menu-pen@2x.png");
    -moz-background-size: 24px, 24px;
    -o-background-size: 24px, 24px;
    -webkit-background-size: 24px, 24px;
    background-size: 24px, 24px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-menu-pen {
    background-image: url("../img/icon/icon-menu-pen@3x.png");
    -moz-background-size: 24px, 24px;
    -o-background-size: 24px, 24px;
    -webkit-background-size: 24px, 24px;
    background-size: 24px, 24px; } }

.icon-menu-signout {
  background-image: url("../img/icon/icon-menu-signout.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-menu-signout {
    background-image: url("../img/icon/icon-menu-signout@2x.png");
    -moz-background-size: 24px, 24px;
    -o-background-size: 24px, 24px;
    -webkit-background-size: 24px, 24px;
    background-size: 24px, 24px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-menu-signout {
    background-image: url("../img/icon/icon-menu-signout@3x.png");
    -moz-background-size: 24px, 24px;
    -o-background-size: 24px, 24px;
    -webkit-background-size: 24px, 24px;
    background-size: 24px, 24px; } }

.icon-header-back {
  width: 22px;
  height: 22px;
  background-image: url("../img/icon/icon-arw-left-primary.png"); }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 1.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-header-back {
    background-image: url("../img/icon/icon-arw-left-primary@2x.png");
    -moz-background-size: 22px, 22px;
    -o-background-size: 22px, 22px;
    -webkit-background-size: 22px, 22px;
    background-size: 22px, 22px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2.25), only screen and (min--moz-device-pixel-ratio: 2.25), only screen and (-o-min-device-pixel-ratio: 9 / 4), only screen and (min-device-pixel-ratio: 2.25), only screen and (min-resolution: 2.25dppx), only screen and (min-resolution: 2dppx) {
  .icon-header-back {
    background-image: url("../img/icon/icon-arw-left-primary@3x.png");
    -moz-background-size: 22px, 22px;
    -o-background-size: 22px, 22px;
    -webkit-background-size: 22px, 22px;
    background-size: 22px, 22px; } }

.media-news .media-left {
  height: 80px; }
.media-news .media-left img {
  height: 80px; }
.media-news .media-body .media-link {
  display: block;
  height: 3rem;
  overflow: hidden; }
.media-news .text-gray-dark {
  display: block;
  height: 4.5rem;
  overflow: hidden; }

.logo {
  max-height: 50px; }

.btn-circle.btn-fb, .btn-circle.btn-weixin {
  width: 35px;
  height: 35px;
  line-height: 35px; }
.btn-circle.btn-fb span, .btn-circle.btn-weixin span {
  line-height: 35px; }

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate; }
.btn-group-justified > .btn, .btn-group-justified > .btn-group {
  float: none;
  display: table-cell;
  width: 1%; }
.btn-group-justified > .btn-group .btn {
  width: 100%; }
.btn-group-justified > .btn-group .dropdown-menu {
  left: auto; }

/*! Pushy - v1.0.0 - 2016-3-1
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 256px;
  height: 100%;
  top: 0;
  z-index: 1002;
  overflow: auto;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */ }
.pushy.pushy-left {
  left: 0; }
.pushy.pushy-right {
  right: 0; }

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-256px, 0, 0);
  -ms-transform: translate3d(-256px, 0, 0);
  transform: translate3d(-256px, 0, 0); }

.pushy-open-left #container, .pushy-open-left .push, .pushy-open-left #header, .pushy-open-left #main {
  -webkit-transform: translate3d(256px, 0, 0);
  -ms-transform: translate3d(256px, 0, 0);
  transform: translate3d(256px, 0, 0);
  overflow: hidden;
  position: fixed; }
.pushy-open-left #container .pattern-bottom, .pushy-open-left .push .pattern-bottom, .pushy-open-left #header .pattern-bottom, .pushy-open-left #main .pattern-bottom {
  top: 330px; }

.pushy-right {
  -webkit-transform: translate3d(256px, 0, 0);
  -ms-transform: translate3d(256px, 0, 0);
  transform: translate3d(256px, 0, 0); }

.pushy-open-right #container, .pushy-open-right .push {
  -webkit-transform: translate3d(-256px, 0, 0);
  -ms-transform: translate3d(-256px, 0, 0);
  transform: translate3d(-256px, 0, 0); }

.pushy-open-left .pushy, .pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

/* Menu Transitions */
#container, .pushy, .push, #header, #main {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

/* Site Overlay */
.site-overlay {
  display: none; }

.pushy-open-left .site-overlay, .pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Icon */ }
.pushy-submenu ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out; }
.pushy-submenu ul .pushy-link {
  transition: opacity 0.2s ease-in-out; }
.pushy-submenu > a {
  position: relative; }
.pushy-submenu > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  background: url("../img/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s; }

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden; }
.pushy-submenu-closed .pushy-link {
  opacity: 0; }

.pushy-submenu-open {
  /* Submenu Icon */ }
.pushy-submenu-open ul {
  max-height: 1000px; }
.pushy-submenu-open .pushy-link {
  opacity: 1; }
.pushy-submenu-open a::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg); }

.no-csstransforms3d .pushy-submenu-closed ul {
  max-height: none;
  display: none; }
